<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ config.name }}</title>

        <link rel="stylesheet" href="../styles/style.css" />
    </head>

    <body>
        <header class="text-center">
            <h1 class="text-title"><a href="/">{{ config.name }}</a></h1>
        </header>

        <main>
            <div class="download-area">
                <h3>Téléchargement</h3>
                <p>Cliquez sur le bouton pour lancer le téléchargement</p>
                <button id="download">Télécharger</button>
            </div>
        </main>

        <footer>
            <p>NPNO</p>
        </footer>

        <script type="module" src="../js/download.js"></script>
    </body>
</html>
