@font-face {
    font-family: Rilu;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/RiluRegular.ttf);
}

/* https://www.colorhexa.com/c2b280 */
@media (prefers-color-scheme: light) {
    :root {
        --bg-color: rgb(245, 242, 234);
        --text-color: rgb(6, 5, 3);
        --selection: rgb(232, 226, 208);
        --shadow: rgba(0, 0, 0, 0.3);
        --border: rgb(45, 40, 22);
        --area-hover: rgb(184, 150, 48);
        --font-size: 17px;
        --font: Rilu;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(19, 16, 9);
        --text-color: rgb(251, 250, 247);
        --selection: rgb(226, 218, 194);
        --shadow: rgba(125, 109, 60, 0.3);
        --border: rgb(213, 202, 168);
        --area-hover: rgb(223, 193, 99);
        --font-size: 17px;
        --font: Rilu;
    }
}

::selection {
    color: rgb(0, 0, 0);
    background: var(--selection);
}

html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
}

header > .text-title {
    font-size: 2.5rem;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding: 0.9% 0.9% 0.9% 0.9%;
    width: 62%;
    border-radius: 6px;
    border: 1px solid var(--border);
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 4px 30px 0 var(--shadow), 0 4px 30px 0 var(--shadow);

    display: flex;
    flex-direction: row;

    padding-top: 0.5em;
}

.upload-area,
.link-area,
.download-area {
    border: 2px dashed var(--border);
    height: 70vh;
    width: 65vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
}

.upload-area > input {
    opacity: 0;
    position: absolute;
    width: 40%;
    height: 70%;
    font-size: 30px;
    cursor: pointer;
}

.upload-area:hover,
.upload-area-hovered {
    border: 2px dashed var(--area-hover);
    text-decoration: underline var(--area-hover) 2px;
    text-underline-position: under;
}

.desc-area {
    text-align: left;
    max-width: 30%;
    padding-left: 1em;
}

.link-area > input {
    border-radius: 6px;
    border: 2px solid var(--shadow);
    width: 49%;
    height: 3vh;
    margin: 0.5vw;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: calc(var(--font-size) - 5px);
}

.link-area > input:focus {
    border: 2px solid var(--border);
    outline: none;
}

.link-area > button,
.download-area > button {
    border-radius: 6px;
    border: 2px solid var(--shadow);
    width: 50%;
    height: 5vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    font-size: var(--font-size);
    transition-duration: 0.4s;
    cursor: pointer;
}

.link-area > button:hover,
.download-area > button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    box-shadow: 0 4px 15px 0 var(--shadow), 0 4px 15px 0 var(--shadow);
}

/* Mobile display */
@media only screen and (max-height: 850px) {
    header > .text-title {
        font-size: 1.5rem;
    }

    .upload-area,
    .link-area,
    .download-area {
        height: 65vh;
    }
}

@media only screen and (max-width: 850px) {
    main {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .upload-area,
    .link-area,
    .download-area {
        width: 35vw;
        height: 55vh;
    }

    .desc-area {
        max-width: 80%;
    }
}

footer {
    margin: 6vh 0 0 2vw;
    opacity: 0.8;
    letter-spacing: 0.2rem;
}
